.ck-editor__main > div ,  .ck-editor__main {
  min-height: 0px !important;
}
.row{
  margin-top: auto;
    margin-bottom: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background_image_div{
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 0;
  overflow: hidden;
}
@media (max-width: 576px) { 
  .background_image_div{
    height: 500px;
  }
 }




.page_title_container{
  margin-top: 130px;
}
.page_title_container .col{
padding: 0;
}

#page_header_shadow {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
  background: linear-gradient(to bottom, rgb(0 0 0 / 29%) 0%, #000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  height: 100%;
  opacity: 1;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1;
  width: 100%;
  border-radius: 10px;
}

.page_header{
  display: flex;
  position: relative;
  /* font-weight: lighter; */
  background-image: url("assets/pages_headers/library.jpg")  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: 100% auto;
  font-size: 40px;
  border-radius: 10px;
  padding: 14px  25px  14px  25px;
  background-color: white;
  color: white;
  box-shadow: -1px 1px 4px 2px #80808069;
  width: 98%;
  margin: 10px auto 15px auto;
  height: 300px;
  /* opacity: .8; */
  justify-content: flex-end;
  align-items: start;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 576px) { 
  .page_header{
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: -10px auto 15px auto;
    width: 95%;


  }
 }

.page_header_inner{
  font-size: 40px;
  font-size: 50px;
  z-index: 2;
  margin: 0px 0px 10px 20px;
  font-weight: bold;
  border: 2px solid white;
  padding: 0px 20px 0px 20px ;
  overflow: hidden;
  display: flex ;
}
@media (max-width: 576px) { 
  .page_header_inner{
    font-size: 20px;
  }
 }


.page_header_inner_dot{

  height: 15px;
  width:  15px;
  margin-left: 7px;
position: relative;
top: 5px ;
display: none;

}
.page_header_under{
  display: inline-block;
  position: relative;
  content: "";
  width: 250px; 
  height: 6px;
  background-color: #c6c1c169;
  z-index: 3;
  display: none;


}

.page_header::after {
  display: inline-block;
  position: relative;
  top:0px;
  left: 0%;
  content: "";
  width: 250px; 
  height: 6px;
  background-color: #c6c1c169;
  z-index: 3;

  display: none;

}
.page_header::before {
  display: inline-block;
  position: relative;
  top:0px;
  left: 0%;

  content: "";
  width: 50px; 
  height: 8px;
  background-color: #f5d20d;
  z-index: 3;
  display: none;

}
  













.sub_page_title_container{
  margin-top: 200px;
}
@media (max-width: 576px) { 
  .sub_page_title_container{
    margin-top: 100px;
    margin-bottom: 0px;
  }
 }


.sub_page_header{
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  background-color: white;
  box-shadow: -1px 1px 4px 2px #80808069;
  border-radius: 20px;
  padding: 14px  25px  14px  25px;

}@media (max-width: 576px) { 
  .sub_page_header{

    background-size: 100% auto;
    font-size: 30px;
  }
 }


.sub_page_header_inner{

}
.sub_page_header_under{

  /* background-image: url("assets/CEBC_Logo.png"); */
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
  position: relative;
  top: 0px;
  z-index: 1;

}

.sub_page_header::after {
  display: inline-block;
  position: relative;
  top:-15px;
  content: "";
  width: 250px; 
  height: 2px;
  background-color: #c6c1c169;
}
.sub_page_header::before {
  display: inline-block;
  position: relative;
  top:78px;
  content: "";
  width: 50px; 
  height: 5px;
  background-color: #f5d20d;
}
@media (max-width: 576px) { 
  .sub_page_header::before{
display: none;
  }
 }
  














.section_header{
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}@media (min-width: 576px) { 
  .section_header{
    /* font-weight: lighter; */
    /* background-image: url("assets/cover.jpg"); */
    background-size: 100% auto;
    font-size: 40px;
    border-radius: 20px;
    padding: 14px  25px  14px  25px;
    /* background-color: white; */
    /* color: white; */
    /* box-shadow: -1px 1px 4px 2px #80808069; */
  }
 }

.section_header_under{

  /* background-image: url("assets/CEBC_Logo.png"); */
  background-size: 100% 100%;
  height: 30px;
  width: 30px;
  position: relative;
  top: 0px;
  z-index: 1;

}

.section_header::after {
  display: inline-block;
  position: relative;
  top:-15px;
  content: "";
  width: 250px; 
  height: 2px;
  background-color: #c6c1c169;
}
.section_header::before {
  display: inline-block;
  position: relative;
  top:78px;
  content: "";
  width: 50px; 
  height: 5px;
  background-color: #f5d20d;
}
@media (max-width: 576px) { 
  .section_header::before{
display: none;
  }
 }
  




.section_header_side{
  margin-left: 15px;
  margin-top: 0px;
  align-items: start;
  text-align: left;
  padding-left:  0;
  font-weight: 400;
}

.section_header_side .section_header_inner{
  font-size: 34px;
   font-weight: 300;
}
@media (max-width: 576px) { 
  .section_header_side .section_header_inner{
    font-size: 22px;

  }
}

.section_header_side .section_header_under{
  font-size: 34px;

  margin-bottom: 0px;
  width: 250px;
  position: relative;
  top:-4px;
}

.section_header_side::before {
  display: inline-block;
  position: relative;
  top:60px;
  content: "";
  width: 80px; 
  height: 5px;
  background-color: #f5d20d;
}
.section_header_side::after {
  display: inline-block;
  position: relative;
  top:-25px;

}
@media (max-width: 576px) { 
  .section_header_side::before{
display: none;
  }
 }





input[type=checkbox]
{
  -webkit-appearance:checkbox;
}



@media (max-width: 576px) { 

  #header_text h1{
    font-size:22px !important;
    text-align: center !important;
    
  }
  #header_text{
    margin:auto !important;

  }
 }
 #header_text h1{
  font-size:25px !important;

}